<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/6c2baed1-486c-4c62-9034-080bbe50303e/resourceGroups/WeatherAppPW/providers/Microsoft.Web/sites/WeatherAppPWApp</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://weatherapppwapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>weatherapppwapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WeatherAppPWApp</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WeatherAppPWApp</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>